Add ASCII armor support

ASCII armor is widely used, so we should support it.

Ideally we'd support it transparently, so we should add support for it directly to the parsers in `src/packet.rs`. We also want to support writing it, so a new function `to_armor` should be added to `Packet`. 

Reading through [RFC4880 section 6](https://tools.ietf.org/html/rfc4880#section-6) would be a good start here. For an initial implementation throwing away the armor headers would be acceptable, but eventually we'll want to support those too, which will require some refactoring of `Packet`.